<script>
    sessionStorage.setItem("token", "<%= @token %>");
    sessionStorage.setItem("username", "<%= @username %>");
</script>
<div class="noselect">
    <div id="elm-admin"></div>
</div>
<script type="text/javascript" src="<%= Routes.static_url(@conn, "/js/admin.js") %>"></script>