/* This file is for your main application css. */
//@import "./phoenix.css";

$footer-padding: 1rem 1.5rem 1rem;

$theme-colors: (
        "primary":    #e62272,
        "secondary":  purple,
        "success":    green,
);

.logo{
  max-width: 100%;
}

.vertical{
  float: left;
  width: 100%;
}

.is-horizontal-center {
  justify-content: center;
}

.is-vertical-center {
  display: flex;
  align-items: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.footnote{
  position: fixed;
  bottom: 10px;
}

.fade{
  animation: fadein 1s;
}
.hidden{
  opacity: 0;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.backArrow{
  display: flex;
  top: 6.5rem;
  left: 3rem;
}

@media only screen and (max-width: 768px) {
  .backArrow{
    display: block;
    top: 1.5rem;
    left: 1.5rem;
  }
}

.center{
  align-items: center;
  align-content: center;
  text-align: center;
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}


@import "../node_modules/bootstrap/scss/bootstrap";

.nav-tabs{
  border-bottom: none;
}

.nav-item:hover{
  backdrop-filter: brightness(30);
}